body {
  background: #0f0f23;
  margin-top: 33px;
  margin-left: 88px;
  width: 60% !important;
}

body,
a,
p,
ol,
ul,
td,
button,
input,
select,
textarea {
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 13pt;
}

.blog-title {
  display: inline-block;
  text-decoration: none;
  color: #253b02;
  font-family: "Source Code Pro", monospace;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  font-size: 13pt;
}

.Ruby_on_Rails {
  color: #c00;
}

.blog-code-title {
  display: block;
  white-space: pre-wrap;
}

hr.blog {
  height: 3px;
  background: black;
  margin-bottom: 30px;
}

hr.fence {
  background: #a5a4a4;
  margin-bottom: 15px;
}

h3 {
  margin: 0px !important;
}

div.evergreen,
div.trunk {
  margin-top: 5px;
}

.paging {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.paging .prev-page {
  float: left;
}

.paging .next-page {
  float: right;
}

pre {
  padding-left: 10px;
  font-size: 15px;
  border-width: 1px 1px 1px 6px;
  border-color: #464545;
  border-style: solid;
  background-color: #0f0f23;
}

a {
  color: #253b02;
  text-decoration-line: none !important;
  font-size: 15pt !important;
}

a:visited {
  color: rgb(4, 70, 2);
}

a:hover {
  color:rgb(108, 243, 108);
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

textarea {
  width: 100% !important;
  height: 500px !important;
}

p.branch {
  border-width: 2px 0px;
  border-color: black;
  border-style: solid;
  display: inline-block;
}

p.focus {
  border-radius: 0px;
  padding: 0.01em 16px;
  border-width: 0px 0px 0px 6px;
  border-color: #464545;
  border-style: solid;
  background-color: rgba(27, 31, 35, 0.05);
  display: block;
}

/* code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin: 0;
  border-radius: 6px;
  color: rgb(3, 104, 33) !important;
}

code.block {
  display: block;
  white-space: pre-wrap;
} */

img {
  max-width: 100%;
  height: auto;
}


.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #dad6d6 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #201616 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #1d1d1d } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #311919; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #d6d2d2 } /* Literal.Number.Float */
.mh { color: #d6d2d2 } /* Literal.Number.Hex */
.mi { color: #d6d2d2 } /* Literal.Number.Integer */
.mo { color: #d6d2d2 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #d6d2d2 } /* Literal.Number.Integer.Long */