/* line 1, app/assets/stylesheets/home.scss */
.blog-code-title {
  display: block;
  white-space: pre-wrap;
}

/* line 6, app/assets/stylesheets/home.scss */
hr.blog {
  height: 3px;
  background: black;
  margin-bottom: 30px;
}

/* line 12, app/assets/stylesheets/home.scss */
hr.fence {
  background: #a5a4a4;
  margin-bottom: 15px;
}

/* line 17, app/assets/stylesheets/home.scss */
h3 {
  margin: 0px !important;
}

/* line 21, app/assets/stylesheets/home.scss */
div.evergreen,
div.trunk {
  margin-top: 5px;
}

/* line 26, app/assets/stylesheets/home.scss */
.paging {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

/* line 30, app/assets/stylesheets/home.scss */
.paging .prev-page {
  float: left;
}

/* line 34, app/assets/stylesheets/home.scss */
.paging .next-page {
  float: right;
}
/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin-top: 33px;
  margin-left: 88px;
  width: 60% !important;
}

/* line 9, app/assets/stylesheets/scaffolds.scss */
body,
p,
ol,
ul,
td,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* line 24, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 30, app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}

/* line 34, app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 38, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 43, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 47, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 51, app/assets/stylesheets/scaffolds.scss */
div.field,
div.actions {
  margin-bottom: 10px;
}

/* line 56, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 60, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 66, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 74, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 84, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 89, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 1, app/assets/stylesheets/trees.scss */
textarea {
  width: 100% !important;
  height: 500px !important;
}

/* line 6, app/assets/stylesheets/trees.scss */
p.branch {
  border-width: 2px 0px;
  border-color: black;
  border-style: solid;
  display: inline-block;
}

/* line 13, app/assets/stylesheets/trees.scss */
p.focus {
  border-radius: 0px;
  padding: 0.01em 16px;
  border-width: 0px 0px 0px 6px;
  border-color: #464545;
  border-style: solid;
  background-color: rgba(27, 31, 35, 0.05);
  display: block;
}

/* line 23, app/assets/stylesheets/trees.scss */
code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
}

/* line 32, app/assets/stylesheets/trees.scss */
code.block {
  display: block;
  white-space: pre-wrap;
}

/* line 37, app/assets/stylesheets/trees.scss */
img {
  max-width: 100%;
  height: auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/*# sourceMappingURL=application.css-a42d4c9284740d2c8d64fad608aa1a3b7d551785b82426901eab87f534b79a80.map */
